h1 {
    padding-bottom: 40px;
}

.newPost {
    outline: none;
    border: 1px solid $blue;
    background-color: #fff;
    padding: 5px 10px;
    margin-bottom: 30px;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
    margin-right: 15px;
    color: $blue;

    a {

        &:hover {
            text-decoration: none; 
        }
    }

    &:hover {
        transform: scale(110%);
    }


}

.actions {
    display: flex;
    justify-content: space-around;

    form {
        button{
            border: none;
            outline: none;
            background-color: #fff;
            padding: 0;
            
        }
    }

    i {
        color: $blue;
        font-size: 16px;
        margin-right: 3px;
    }
}