.inner-card {
    display: flex;
}

.post {
    border: 1px solid #bbb;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    .post-details {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;

        div {
            display: flex;
            align-items: center;

            h3, h4 {
                margin: 0 0 0 10px;
            }
        }
    }
}

.comment {
    margin-bottom: 20px;
}

.create {
    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;

        &:last-of-type {
            margin-bottom: 30px;
        }

        input {
            width: 100%;
        }

        label {
            width: 80px;
            font-weight: 700;
        }
    }

    .custom-select {
        width: 100% !important; 
    }
}
